Repository mozilla-mobile/android-components, changes with the owners that CODEOWNERS names for each.
All owners: @mozilla-mobile/act, @mozilla-mobile, @mozilla-mobile/releng, @csadilek, @amejia481, @jonalmeida, @grigoryk, @gabrielluong, @rocketsroger, @Amejia481, @mozilla-mobile/Webcompat, @mozilla-mobile/telemetry, @mozilla-mobile/ast, @Mugurell, @MickeyMoz

For #10761: Use clipboard confidence score for SDK>= 31.
  components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/ClipboardSuggestionProvider.kt
Owners: @csadilek

Update GeckoView (Nightly) to 99.0.20220225065850.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220225065850.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220225104705.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220225104705.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Import l10n.
  components/feature/downloads/src/main/res/values-sq/strings.xml
  components/feature/sitepermissions/src/main/res/values-sq/strings.xml
Owners: @MickeyMoz

Import l10n.
  components/feature/downloads/src/main/res/values-sq/strings.xml
  components/feature/sitepermissions/src/main/res/values-sq/strings.xml
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220226094610.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220226094610.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Import l10n.
  components/browser/errorpages/src/main/res/values-ca/strings.xml
  components/feature/downloads/src/main/res/values-ca/strings.xml
  components/feature/sitepermissions/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Import l10n.
  components/browser/errorpages/src/main/res/values-ca/strings.xml
  components/feature/downloads/src/main/res/values-ca/strings.xml
  components/feature/sitepermissions/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/browser/errorpages/src/main/res/values-ca/strings.xml
  components/browser/errorpages/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/feature/sitepermissions/src/main/res/values-ca/strings.xml
  components/feature/sitepermissions/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/feature/downloads/src/main/res/values-ca/strings.xml
  components/feature/downloads/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/feature/downloads/src/main/res/values-sq/strings.xml
  components/feature/downloads/src/main/res/values-sq/strings.xml
Owners: @MickeyMoz

Strings - components/feature/sitepermissions/src/main/res/values-sq/strings.xml
  components/feature/sitepermissions/src/main/res/values-sq/strings.xml
Owners: @MickeyMoz

For #11783 Improve Perceived Performance of Browser tab thumbnails
  components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/loader/ThumbnailLoader.kt
  components/browser/thumbnails/src/test/java/mozilla/components/browser/thumbnails/loader/ThumbnailLoaderTest.kt
Owners: @jonalmeida, @gabrielluong

Update GeckoView (Nightly) to 99.0.20220227094054.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220227094054.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220228090129.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220228090129.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Revert "For #11753 - Update compose to 1.1.0 and Kotlin to 1.6.10"
  buildSrc/src/main/java/Dependencies.kt
  components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  components/browser/menu/src/main/java/mozilla/components/browser/menu/BrowserMenu.kt
  components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/LinkingMiddleware.kt
  components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/TabsRemovedMiddleware.kt
  components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/WebExtensionMiddleware.kt
  components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/TabsRemovedMiddlewareTest.kt
  components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/ThumbnailsMiddleware.kt
  components/feature/containers/src/main/java/mozilla/components/feature/containers/ContainerMiddleware.kt
  components/feature/downloads/src/androidTest/java/mozilla/components/feature/downloads/OnDeviceDownloadStorageTest.kt
  components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadMiddleware.kt
  components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadCancelDialogFragmentTest.kt
  components/feature/logins/src/androidTest/java/mozilla/components/feature/logins/LoginExceptionStorageTest.kt
  components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
  components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptMiddleware.kt
  components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/SaveLoginDialogFragment.kt
  components/feature/pwa/src/androidTest/java/mozilla/components/feature/pwa/db/ManifestDatabaseMigrationTest.kt
  components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewMiddleware.kt
  components/feature/recentlyclosed/src/main/java/mozilla/components/feature/recentlyclosed/RecentlyClosedMiddleware.kt
  components/feature/search/src/main/java/mozilla/components/feature/search/middleware/SearchMiddleware.kt
  components/feature/session/src/main/java/mozilla/components/feature/session/middleware/LastAccessMiddleware.kt
  components/feature/sitepermissions/src/androidTest/java/mozilla/components/feature/sitepermissions/db/OnDeviceSitePermissionsStorageTest.kt
  components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  components/feature/tab-collections/src/main/java/mozilla/components/feature/tab/collections/db/TabCollectionDao.kt
  components/feature/tabs/src/main/java/mozilla/components/feature/tabs/WindowFeature.kt
  components/feature/top-sites/src/androidTest/java/mozilla/components/feature/top/sites/OnDevicePinnedSitesStorageTest.kt
  components/support/locale/src/main/java/mozilla/components/support/locale/LocaleMiddleware.kt
Owners: @mozilla-mobile/act, @csadilek, @amejia481, @jonalmeida, @gabrielluong, @Amejia481, @grigoryk

Issue #11791: Add DarkGrey30A95 and DarkGrey90A95
  components/ui/colors/src/main/java/mozilla/components/ui/colors/PhotonColors.kt
  components/ui/colors/src/main/res/values/photon_colors.xml
Owners: @mozilla-mobile/act

Revert "For #11753 - Update compose to 1.1.0 and Kotlin to 1.6.10"
  buildSrc/src/main/java/Dependencies.kt
  components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  components/browser/menu/src/main/java/mozilla/components/browser/menu/BrowserMenu.kt
  components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/LinkingMiddleware.kt
  components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/TabsRemovedMiddleware.kt
  components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/WebExtensionMiddleware.kt
  components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/TabsRemovedMiddlewareTest.kt
  components/browser/thumbnails/src/main/java/mozilla/components/browser/thumbnails/ThumbnailsMiddleware.kt
  components/feature/containers/src/main/java/mozilla/components/feature/containers/ContainerMiddleware.kt
  components/feature/downloads/src/androidTest/java/mozilla/components/feature/downloads/OnDeviceDownloadStorageTest.kt
  components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadMiddleware.kt
  components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadCancelDialogFragmentTest.kt
  components/feature/logins/src/androidTest/java/mozilla/components/feature/logins/LoginExceptionStorageTest.kt
  components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
  components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptMiddleware.kt
  components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/SaveLoginDialogFragment.kt
  components/feature/pwa/src/androidTest/java/mozilla/components/feature/pwa/db/ManifestDatabaseMigrationTest.kt
  components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewMiddleware.kt
  components/feature/recentlyclosed/src/main/java/mozilla/components/feature/recentlyclosed/RecentlyClosedMiddleware.kt
  components/feature/search/src/main/java/mozilla/components/feature/search/middleware/SearchMiddleware.kt
  components/feature/session/src/main/java/mozilla/components/feature/session/middleware/LastAccessMiddleware.kt
  components/feature/sitepermissions/src/androidTest/java/mozilla/components/feature/sitepermissions/db/OnDeviceSitePermissionsStorageTest.kt
  components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  components/feature/tab-collections/src/main/java/mozilla/components/feature/tab/collections/db/TabCollectionDao.kt
  components/feature/tabs/src/main/java/mozilla/components/feature/tabs/WindowFeature.kt
  components/feature/top-sites/src/androidTest/java/mozilla/components/feature/top/sites/OnDevicePinnedSitesStorageTest.kt
  components/support/locale/src/main/java/mozilla/components/support/locale/LocaleMiddleware.kt
Owners: @mozilla-mobile/act, @csadilek, @amejia481, @jonalmeida, @gabrielluong, @Amejia481, @grigoryk

Issue #11791: Add DarkGrey30A95 and DarkGrey90A95
  components/ui/colors/src/main/java/mozilla/components/ui/colors/PhotonColors.kt
  components/ui/colors/src/main/res/values/photon_colors.xml
Owners: @mozilla-mobile/act

Strings - components/browser/errorpages/src/main/res/values-ca/strings.xml
  components/browser/errorpages/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/feature/sitepermissions/src/main/res/values-ca/strings.xml
  components/feature/sitepermissions/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/feature/sitepermissions/src/main/res/values-sq/strings.xml
  components/feature/sitepermissions/src/main/res/values-sq/strings.xml
Owners: @MickeyMoz

Strings - components/feature/downloads/src/main/res/values-ca/strings.xml
  components/feature/downloads/src/main/res/values-ca/strings.xml
Owners: @MickeyMoz

Strings - components/feature/downloads/src/main/res/values-sq/strings.xml
  components/feature/downloads/src/main/res/values-sq/strings.xml
Owners: @MickeyMoz

Update GeckoView (Release) to 98.0.20220228162945.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 98.0.9.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Set version.txt to 98.0.9.
  version.txt
Owners: @mozilla-mobile/act

Set version.txt to 98.0.9.
  version.txt
Owners: @mozilla-mobile/act

Update GeckoView (Release) to 98.0.20220228162945.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 98.0.9.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Update GeckoView (Nightly) to 99.0.20220301094029.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220301094029.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Pin Flank to v21.08.1
  taskcluster/docker/ui-tests/Dockerfile
Owners: @mozilla-mobile/releng, @mozilla-mobile/act

Import l10n.
  components/feature/downloads/src/main/res/values-su/strings.xml
  components/feature/sitepermissions/src/main/res/values-su/strings.xml
Owners: @MickeyMoz

CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/


# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/act

# Changelog is reviewable by anyone on any team
/docs/changelog.md @mozilla-mobile

# Release Engineering pipeline
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/act
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/act
/automation/ @mozilla-mobile/act
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/act

/components/browser/awesomebar/             @mozilla-mobile/act
/components/browser/domains/                @csadilek
/components/browser/engine-gecko-beta/      @csadilek @amejia481
/components/browser/engine-gecko-nightly/   @csadilek @amejia481
/components/browser/engine-gecko/           @csadilek @amejia481
/components/browser/engine-system/          @amejia481
/components/browser/errorpages/             @mozilla-mobile/act
/components/browser/icons/                  @mozilla-mobile/act
/components/browser/menu/                   @mozilla-mobile/act
/components/browser/menu2/                  @jonalmeida
/components/browser/search/                 @mozilla-mobile/act
/components/browser/state/                  @csadilek
/components/browser/storage-sync/           @grigoryk
/components/browser/tabstray/               @jonalmeida
/components/browser/thumbnails/             @jonalmeida @gabrielluong
/components/browser/toolbar/                @mozilla-mobile/act

/components/concept/awesomebar/             @csadilek
/components/concept/base/                   @mozilla-mobile/act
/components/concept/engine/                 @csadilek
/components/concept/fetch/                  @csadilek
/components/concept/menu/                   @mozilla-mobile/act
/components/concept/push/                   @jonalmeida
/components/concept/storage/                @grigoryk
/components/concept/sync/                   @grigoryk
/components/concept/tabstray/               @jonalmeida
/components/concept/toolbar/                @mozilla-mobile/act

/components/feature/accounts-push/          @jonalmeida
/components/feature/accounts/               @grigoryk
/components/feature/addons/                 @csadilek @amejia481
/components/feature/app-links/              @rocketsroger
/components/feature/autofill/               @grigoryk
/components/feature/awesomebar/             @csadilek
/components/feature/containers/             @gabrielluong
/components/feature/contextmenu/            @mozilla-mobile/act
/components/feature/customtabs/             @jonalmeida
/components/feature/downloads/              @Amejia481 @csadilek
/components/feature/findinpage/             @Amejia481
/components/feature/intent/                 @mozilla-mobile/act
/components/feature/media/                  @rocketsroger
/components/feature/privatemode/            @mozilla-mobile/act
/components/feature/prompts/                @amejia481
/components/feature/push/                   @jonalmeida @grigoryk
/components/feature/pwa/                    @mozilla-mobile/act
/components/feature/qr/                     @csadilek
/components/feature/readerview/             @csadilek
/components/feature/recentlyclosed/         @mozilla-mobile/act
/components/feature/search/                 @mozilla-mobile/act
/components/feature/session/                @csadilek
/components/feature/share/                  @mozilla-mobile/act
/components/feature/sitepermissions/        @amejia481
/components/feature/syncedtabs/             @jonalmeida
/components/feature/tab-collections/        @mozilla-mobile/act
/components/feature/tabs/                   @jonalmeida
/components/feature/toolbar/                @mozilla-mobile/act
/components/feature/top-sites/              @gabrielluong @grigoryk
/components/feature/webcompat-reporter/     @mozilla-mobile/Webcompat
/components/feature/webcompat/              @mozilla-mobile/Webcompat
/components/feature/webnotifications/       @jonalmeida @rocketsroger

/components/lib/crash/                      @rocketsroger
/components/lib/dataprotect/                @grigoryk
/components/lib/fetch-httpurlconnection/    @mozilla-mobile/act
/components/lib/fetch-okhttp/               @mozilla-mobile/act
/components/lib/jexl/                       @mozilla-mobile/act
/components/lib/publicsuffixlist/           @mozilla-mobile/act
/components/lib/push-firebase/              @jonalmeida
/components/lib/state/                      @csadilek

/components/service/digitalassetlinks/      @mozilla-mobile/act
/components/service/experiments/            @mozilla-mobile/telemetry
/components/service/firefox-accounts/       @grigoryk
/components/service/fretboard/              @mozilla-mobile/act
/components/service/glean/                  @mozilla-mobile/telemetry
/components/service/location/               @mozilla-mobile/act
/components/service/nimbus/                 @mozilla-mobile/telemetry @mozilla-mobile/ast
/components/service/pocket/                 @Mugurell
/components/service/sync-autofill/          @gabrielluong
/components/service/sync-logins/            @grigoryk

/components/support/android-test/           @amejia481
/components/support/base/                   @amejia481
/components/support/images/                 @mozilla-mobile/act
/components/support/ktx/                    @amejia481
/components/support/locale/                 @amejia481
/components/support/migration/              @grigoryk
/components/support/rusthttp/               @mozilla-mobile/ast
/components/support/rustlog/                @mozilla-mobile/ast
/components/support/sync-telemetry/         @grigoryk
/components/support/test-appservices/       @mozilla-mobile/act
/components/support/test-libstate/          @csadilek
/components/support/test/                   @amejia481
/components/support/utils/                  @mozilla-mobile/act
/components/support/webextensions/          @csadilek @amejia481

/components/tooling/detekt/
/components/tooling/fetch-tests/            @csadilek
/components/tooling/glean-gradle-plugin/    @mozilla-mobile/telemetry
/components/tooling/lint/                   @mozilla-mobile/act

/components/ui/autocomplete/                @mozilla-mobile/act
/components/ui/colors/                      @mozilla-mobile/act
/components/ui/fonts/                       @mozilla-mobile/act
/components/ui/icons/                       @mozilla-mobile/act
/components/ui/tabcounter/                  @mozilla-mobile/act
/components/ui/widgets/                     @mozilla-mobile/act

/samples/browser/                           @csadilek @amejia481
/samples/crash/                             @rocketsroger
/samples/dataprotect/                       @mozilla-mobile/act
/samples/firefox-accounts/                  @grigoryk
/samples/glean/                             @mozilla-mobile/telemetry
/samples/sync-logins/                       @grigoryk
/samples/sync/                              @grigoryk
/samples/toolbar/                           @mozilla-mobile/act

# Bot owned files
strings.xml                                 @MickeyMoz
Gecko.kt                                    @MickeyMoz
publicsuffixes                              @MickeyMoz
