Repository mozilla-mobile/android-components, changes with the owners that CODEOWNERS names for each.
All owners: @mozilla-mobile/act, @mozilla-mobile, @mozilla-mobile/releng, @csadilek, @amejia481, @jonalmeida, @grigoryk, @gabrielluong, @rocketsroger, @Amejia481, @mozilla-mobile/Webcompat, @mozilla-mobile/telemetry, @mozilla-mobile/ast, @Mugurell, @MickeyMoz

Import l10n.
  components/feature/downloads/src/main/res/values-su/strings.xml
  components/feature/sitepermissions/src/main/res/values-su/strings.xml
Owners: @MickeyMoz

Pin Flank to v21.08.1
  taskcluster/docker/ui-tests/Dockerfile
Owners: @mozilla-mobile/releng, @mozilla-mobile/act

Issue #11474: Implement a Top Sites middleware
  components/feature/top-sites/build.gradle
  components/feature/top-sites/src/main/java/mozilla/components/feature/top/sites/DefaultTopSitesStorage.kt
  components/feature/top-sites/src/main/java/mozilla/components/feature/top/sites/TopSitesFeature.kt
  components/feature/top-sites/src/main/java/mozilla/components/feature/top/sites/TopSitesMiddleware.kt
  components/feature/top-sites/src/main/java/mozilla/components/feature/top/sites/TopSitesStorage.kt
  components/feature/top-sites/src/main/java/mozilla/components/feature/top/sites/presenter/DefaultTopSitesPresenter.kt
  components/feature/top-sites/src/main/java/mozilla/components/feature/top/sites/presenter/TopSitesPresenter.kt
  components/feature/top-sites/src/test/java/mozilla/components/feature/top/sites/TopSitesFeatureTest.kt
  components/feature/top-sites/src/test/java/mozilla/components/feature/top/sites/presenter/DefaultTopSitesPresenterTest.kt
Owners: @gabrielluong, @grigoryk

Update GeckoView (Nightly) to 99.0.20220302065857.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220302065857.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

For #11800 - Excluded current app from 'Share link' candidates
  components/feature/contextmenu/src/main/AndroidManifest.xml
  components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuCandidate.kt
Owners: @mozilla-mobile/act

Update GeckoView (Release) to 98.0.20220302164716.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 98.0.10.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Set version.txt to 98.0.10.
  version.txt
Owners: @mozilla-mobile/act

Import l10n.
  components/browser/errorpages/src/main/res/values-co/strings.xml
  components/feature/addons/src/main/res/values-co/strings.xml
  l10n.toml
Owners: @MickeyMoz, @mozilla-mobile/act

Import l10n.
  components/browser/errorpages/src/main/res/values-co/strings.xml
  components/feature/addons/src/main/res/values-co/strings.xml
  l10n.toml
Owners: @MickeyMoz, @mozilla-mobile/act

Update GeckoView (Nightly) to 99.0.20220303094735.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version.txt to 98.0.10.
  version.txt
Owners: @mozilla-mobile/act

Update GeckoView (Release) to 98.0.20220302164716.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 98.0.10.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Update GeckoView (Nightly) to 99.0.20220303094735.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Close #11809: Add missing EOL for Socorro report
  components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
Owners: @rocketsroger

Close #11809: Add missing EOL for Socorro report
  components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
Owners: @rocketsroger

closes #11798: allow engines to be specified during manual syncs
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/sync/SyncManager.kt
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/sync/WorkManagerSyncManager.kt
  components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
Owners: @grigoryk

Import l10n.
  components/browser/errorpages/src/main/res/values-co/strings.xml
Owners: @MickeyMoz

closes #11798: allow engines to be specified during manual syncs
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/sync/SyncManager.kt
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/sync/WorkManagerSyncManager.kt
  components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
Owners: @grigoryk

Import l10n.
  components/browser/errorpages/src/main/res/values-co/strings.xml
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220304094153.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220304094153.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220304152603.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220304152603.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Release) to 97.0.20220304162637.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 97.0.13.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Set version.txt to 97.0.13.
  version.txt
Owners: @mozilla-mobile/act

Set version to 97.0.13.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Update GeckoView (Release) to 97.0.20220304162637.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version.txt to 97.0.13.
  version.txt
Owners: @mozilla-mobile/act

Closes #11819:Remove nativeMessaging permission from the add-on BLOCKED_PERMISSIONS list
  components/feature/addons/src/main/java/mozilla/components/feature/addons/AddonManager.kt
  components/feature/addons/src/test/java/AddonManagerTest.kt
  docs/changelog.md
Owners: @csadilek, @amejia481, @mozilla-mobile

Import l10n.
  components/browser/errorpages/src/main/res/values-tzm/strings.xml
  components/feature/addons/src/main/res/values-tzm/strings.xml
  components/feature/prompts/src/main/res/values-co/strings.xml
Owners: @MickeyMoz

Update GeckoView (Release) to 98.0.20220304153049.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 98.0.11.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Set version.txt to 98.0.11.
  version.txt
Owners: @mozilla-mobile/act

Set version to 98.0.11.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Update GeckoView (Release) to 98.0.20220304153049.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version.txt to 98.0.11.
  version.txt
Owners: @mozilla-mobile/act

CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/


# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/act

# Changelog is reviewable by anyone on any team
/docs/changelog.md @mozilla-mobile

# Release Engineering pipeline
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/act
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/act
/automation/ @mozilla-mobile/act
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/act

/components/browser/awesomebar/             @mozilla-mobile/act
/components/browser/domains/                @csadilek
/components/browser/engine-gecko-beta/      @csadilek @amejia481
/components/browser/engine-gecko-nightly/   @csadilek @amejia481
/components/browser/engine-gecko/           @csadilek @amejia481
/components/browser/engine-system/          @amejia481
/components/browser/errorpages/             @mozilla-mobile/act
/components/browser/icons/                  @mozilla-mobile/act
/components/browser/menu/                   @mozilla-mobile/act
/components/browser/menu2/                  @jonalmeida
/components/browser/search/                 @mozilla-mobile/act
/components/browser/state/                  @csadilek
/components/browser/storage-sync/           @grigoryk
/components/browser/tabstray/               @jonalmeida
/components/browser/thumbnails/             @jonalmeida @gabrielluong
/components/browser/toolbar/                @mozilla-mobile/act

/components/concept/awesomebar/             @csadilek
/components/concept/base/                   @mozilla-mobile/act
/components/concept/engine/                 @csadilek
/components/concept/fetch/                  @csadilek
/components/concept/menu/                   @mozilla-mobile/act
/components/concept/push/                   @jonalmeida
/components/concept/storage/                @grigoryk
/components/concept/sync/                   @grigoryk
/components/concept/tabstray/               @jonalmeida
/components/concept/toolbar/                @mozilla-mobile/act

/components/feature/accounts-push/          @jonalmeida
/components/feature/accounts/               @grigoryk
/components/feature/addons/                 @csadilek @amejia481
/components/feature/app-links/              @rocketsroger
/components/feature/autofill/               @grigoryk
/components/feature/awesomebar/             @csadilek
/components/feature/containers/             @gabrielluong
/components/feature/contextmenu/            @mozilla-mobile/act
/components/feature/customtabs/             @jonalmeida
/components/feature/downloads/              @Amejia481 @csadilek
/components/feature/findinpage/             @Amejia481
/components/feature/intent/                 @mozilla-mobile/act
/components/feature/media/                  @rocketsroger
/components/feature/privatemode/            @mozilla-mobile/act
/components/feature/prompts/                @amejia481
/components/feature/push/                   @jonalmeida @grigoryk
/components/feature/pwa/                    @mozilla-mobile/act
/components/feature/qr/                     @csadilek
/components/feature/readerview/             @csadilek
/components/feature/recentlyclosed/         @mozilla-mobile/act
/components/feature/search/                 @mozilla-mobile/act
/components/feature/session/                @csadilek
/components/feature/share/                  @mozilla-mobile/act
/components/feature/sitepermissions/        @amejia481
/components/feature/syncedtabs/             @jonalmeida
/components/feature/tab-collections/        @mozilla-mobile/act
/components/feature/tabs/                   @jonalmeida
/components/feature/toolbar/                @mozilla-mobile/act
/components/feature/top-sites/              @gabrielluong @grigoryk
/components/feature/webcompat-reporter/     @mozilla-mobile/Webcompat
/components/feature/webcompat/              @mozilla-mobile/Webcompat
/components/feature/webnotifications/       @jonalmeida @rocketsroger

/components/lib/crash/                      @rocketsroger
/components/lib/dataprotect/                @grigoryk
/components/lib/fetch-httpurlconnection/    @mozilla-mobile/act
/components/lib/fetch-okhttp/               @mozilla-mobile/act
/components/lib/jexl/                       @mozilla-mobile/act
/components/lib/publicsuffixlist/           @mozilla-mobile/act
/components/lib/push-firebase/              @jonalmeida
/components/lib/state/                      @csadilek

/components/service/digitalassetlinks/      @mozilla-mobile/act
/components/service/experiments/            @mozilla-mobile/telemetry
/components/service/firefox-accounts/       @grigoryk
/components/service/fretboard/              @mozilla-mobile/act
/components/service/glean/                  @mozilla-mobile/telemetry
/components/service/location/               @mozilla-mobile/act
/components/service/nimbus/                 @mozilla-mobile/telemetry @mozilla-mobile/ast
/components/service/pocket/                 @Mugurell
/components/service/sync-autofill/          @gabrielluong
/components/service/sync-logins/            @grigoryk

/components/support/android-test/           @amejia481
/components/support/base/                   @amejia481
/components/support/images/                 @mozilla-mobile/act
/components/support/ktx/                    @amejia481
/components/support/locale/                 @amejia481
/components/support/migration/              @grigoryk
/components/support/rusthttp/               @mozilla-mobile/ast
/components/support/rustlog/                @mozilla-mobile/ast
/components/support/sync-telemetry/         @grigoryk
/components/support/test-appservices/       @mozilla-mobile/act
/components/support/test-libstate/          @csadilek
/components/support/test/                   @amejia481
/components/support/utils/                  @mozilla-mobile/act
/components/support/webextensions/          @csadilek @amejia481

/components/tooling/detekt/
/components/tooling/fetch-tests/            @csadilek
/components/tooling/glean-gradle-plugin/    @mozilla-mobile/telemetry
/components/tooling/lint/                   @mozilla-mobile/act

/components/ui/autocomplete/                @mozilla-mobile/act
/components/ui/colors/                      @mozilla-mobile/act
/components/ui/fonts/                       @mozilla-mobile/act
/components/ui/icons/                       @mozilla-mobile/act
/components/ui/tabcounter/                  @mozilla-mobile/act
/components/ui/widgets/                     @mozilla-mobile/act

/samples/browser/                           @csadilek @amejia481
/samples/crash/                             @rocketsroger
/samples/dataprotect/                       @mozilla-mobile/act
/samples/firefox-accounts/                  @grigoryk
/samples/glean/                             @mozilla-mobile/telemetry
/samples/sync-logins/                       @grigoryk
/samples/sync/                              @grigoryk
/samples/toolbar/                           @mozilla-mobile/act

# Bot owned files
strings.xml                                 @MickeyMoz
Gecko.kt                                    @MickeyMoz
publicsuffixes                              @MickeyMoz
