Repository mozilla-mobile/android-components, changes with the owners that CODEOWNERS names for each.
All owners: @mozilla-mobile/act, @mozilla-mobile, @mozilla-mobile/releng, @csadilek, @amejia481, @jonalmeida, @grigoryk, @gabrielluong, @rocketsroger, @Amejia481, @mozilla-mobile/Webcompat, @mozilla-mobile/telemetry, @mozilla-mobile/ast, @Mugurell, @MickeyMoz

Import l10n.
  components/browser/errorpages/src/main/res/values-tzm/strings.xml
  components/feature/addons/src/main/res/values-tzm/strings.xml
  components/feature/prompts/src/main/res/values-co/strings.xml
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220305092613.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220305092613.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220306094505.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220307093830.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220307093830.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220308092232.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update GeckoView (Nightly) to 99.0.20220308092232.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update to first GeckoView 99 Beta
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update changelog for 99.0.0 release
  docs/changelog.md
Owners: @mozilla-mobile

Start 100.0.0 development cycle
  .buildconfig.yml
  version.txt
Owners: @mozilla-mobile/act

Update to GeckoView 100.0
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update to first GeckoView 99 Beta
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Update to GeckoView 100.0
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Start 100.0.0 development cycle
  .buildconfig.yml
  version.txt
Owners: @mozilla-mobile/act

Update changelog for 99.0.0 release
  docs/changelog.md
Owners: @mozilla-mobile

Closes #11646: Update Sentry version to latest release
  .buildconfig.yml
  buildSrc/src/main/java/Dependencies.kt
  components/lib/crash-sentry-legacy/build.gradle
  components/lib/crash-sentry-legacy/proguard-rules.pro
  components/lib/crash-sentry-legacy/src/main/AndroidManifest.xml
  components/lib/crash-sentry-legacy/src/main/java/mozilla/components/lib/crash/sentry/legacy/SentryService.kt
  components/lib/crash-sentry-legacy/src/test/java/mozilla/components/lib/crash/sentry/legacy/SentryServiceTest.kt
  components/lib/crash-sentry-legacy/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  components/lib/crash-sentry-legacy/src/test/resources/robolectric.properties
  components/lib/crash-sentry/build.gradle
  components/lib/crash-sentry/proguard-rules.pro
  components/lib/crash-sentry/src/main/AndroidManifest.xml
  components/lib/crash-sentry/src/main/java/mozilla/components/lib/crash/sentry/SentryService.kt
  components/lib/crash-sentry/src/test/java/mozilla/components/lib/crash/sentry/SentryServiceTest.kt
  components/lib/crash-sentry/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  components/lib/crash-sentry/src/test/resources/robolectric.properties
  components/lib/crash/build.gradle
  components/lib/crash/src/main/java/mozilla/components/lib/crash/CrashReporter.kt
  components/lib/crash/src/main/java/mozilla/components/lib/crash/service/CrashReporterService.kt
  components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
  taskcluster/ci/config.yml
Owners: @mozilla-mobile/act, @rocketsroger, @mozilla-mobile/releng

Allow observing if account manager is ready
  components/concept/sync/src/main/java/mozilla/components/concept/sync/OAuthAccount.kt
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
Owners: @grigoryk

Pre: remove 'fetchProfile' from FxaAccountManager
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
Owners: @grigoryk

Pre: make sure all public suspend methods are bound to 'coroutineContext'
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
Owners: @grigoryk

Changelog entries
  docs/changelog.md
Owners: @mozilla-mobile

Pre: make sure all public suspend methods are bound to 'coroutineContext'
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
Owners: @grigoryk

Allow observing if account manager is ready
  components/concept/sync/src/main/java/mozilla/components/concept/sync/OAuthAccount.kt
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
Owners: @grigoryk

Changelog entries
  docs/changelog.md
Owners: @mozilla-mobile

Pre: remove 'fetchProfile' from FxaAccountManager
  components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
Owners: @grigoryk

Closes #11646: Update Sentry version to latest release
  .buildconfig.yml
  buildSrc/src/main/java/Dependencies.kt
  components/lib/crash-sentry-legacy/build.gradle
  components/lib/crash-sentry-legacy/proguard-rules.pro
  components/lib/crash-sentry-legacy/src/main/AndroidManifest.xml
  components/lib/crash-sentry-legacy/src/main/java/mozilla/components/lib/crash/sentry/legacy/SentryService.kt
  components/lib/crash-sentry-legacy/src/test/java/mozilla/components/lib/crash/sentry/legacy/SentryServiceTest.kt
  components/lib/crash-sentry-legacy/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  components/lib/crash-sentry-legacy/src/test/resources/robolectric.properties
  components/lib/crash-sentry/build.gradle
  components/lib/crash-sentry/proguard-rules.pro
  components/lib/crash-sentry/src/main/AndroidManifest.xml
  components/lib/crash-sentry/src/main/java/mozilla/components/lib/crash/sentry/SentryService.kt
  components/lib/crash-sentry/src/test/java/mozilla/components/lib/crash/sentry/SentryServiceTest.kt
  components/lib/crash-sentry/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  components/lib/crash-sentry/src/test/resources/robolectric.properties
  components/lib/crash/build.gradle
  components/lib/crash/src/main/java/mozilla/components/lib/crash/CrashReporter.kt
  components/lib/crash/src/main/java/mozilla/components/lib/crash/service/CrashReporterService.kt
  components/lib/crash/src/main/java/mozilla/components/lib/crash/service/MozillaSocorroService.kt
  taskcluster/ci/config.yml
Owners: @mozilla-mobile/act, @rocketsroger, @mozilla-mobile/releng

For #11725: Switch to using WindowInsetsCompat instead of WindowInsets.
  components/feature/qr/src/main/java/mozilla/components/feature/qr/QrFragment.kt
  components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Activity.kt
  components/support/ktx/src/test/java/mozilla/components/support/ktx/android/view/ActivityTest.kt
  components/support/utils/src/main/java/mozilla/components/support/utils/StatusBarUtils.kt
  components/support/utils/src/main/java/mozilla/components/support/utils/ext/WindowInsets.kt
  components/support/utils/src/main/java/mozilla/components/support/utils/ext/WindowInsetsCompat.kt
  components/support/utils/src/test/java/mozilla/components/support/utils/ext/WindowInsetsCompatTest.kt
  components/support/utils/src/test/java/mozilla/components/support/utils/ext/WindowInsetsTest.kt
Owners: @csadilek, @amejia481, @mozilla-mobile/act

For #11725: Switch to using WindowInsetsCompat instead of WindowInsets.
  components/feature/qr/src/main/java/mozilla/components/feature/qr/QrFragment.kt
  components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Activity.kt
  components/support/ktx/src/test/java/mozilla/components/support/ktx/android/view/ActivityTest.kt
  components/support/utils/src/main/java/mozilla/components/support/utils/StatusBarUtils.kt
  components/support/utils/src/main/java/mozilla/components/support/utils/ext/WindowInsets.kt
  components/support/utils/src/main/java/mozilla/components/support/utils/ext/WindowInsetsCompat.kt
  components/support/utils/src/test/java/mozilla/components/support/utils/ext/WindowInsetsCompatTest.kt
  components/support/utils/src/test/java/mozilla/components/support/utils/ext/WindowInsetsTest.kt
Owners: @csadilek, @amejia481, @mozilla-mobile/act

CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/


# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/act

# Changelog is reviewable by anyone on any team
/docs/changelog.md @mozilla-mobile

# Release Engineering pipeline
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/act
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/act
/automation/ @mozilla-mobile/act
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/act

/components/browser/awesomebar/             @mozilla-mobile/act
/components/browser/domains/                @csadilek
/components/browser/engine-gecko-beta/      @csadilek @amejia481
/components/browser/engine-gecko-nightly/   @csadilek @amejia481
/components/browser/engine-gecko/           @csadilek @amejia481
/components/browser/engine-system/          @amejia481
/components/browser/errorpages/             @mozilla-mobile/act
/components/browser/icons/                  @mozilla-mobile/act
/components/browser/menu/                   @mozilla-mobile/act
/components/browser/menu2/                  @jonalmeida
/components/browser/search/                 @mozilla-mobile/act
/components/browser/state/                  @csadilek
/components/browser/storage-sync/           @grigoryk
/components/browser/tabstray/               @jonalmeida
/components/browser/thumbnails/             @jonalmeida @gabrielluong
/components/browser/toolbar/                @mozilla-mobile/act

/components/concept/awesomebar/             @csadilek
/components/concept/base/                   @mozilla-mobile/act
/components/concept/engine/                 @csadilek
/components/concept/fetch/                  @csadilek
/components/concept/menu/                   @mozilla-mobile/act
/components/concept/push/                   @jonalmeida
/components/concept/storage/                @grigoryk
/components/concept/sync/                   @grigoryk
/components/concept/tabstray/               @jonalmeida
/components/concept/toolbar/                @mozilla-mobile/act

/components/feature/accounts-push/          @jonalmeida
/components/feature/accounts/               @grigoryk
/components/feature/addons/                 @csadilek @amejia481
/components/feature/app-links/              @rocketsroger
/components/feature/autofill/               @grigoryk
/components/feature/awesomebar/             @csadilek
/components/feature/containers/             @gabrielluong
/components/feature/contextmenu/            @mozilla-mobile/act
/components/feature/customtabs/             @jonalmeida
/components/feature/downloads/              @Amejia481 @csadilek
/components/feature/findinpage/             @Amejia481
/components/feature/intent/                 @mozilla-mobile/act
/components/feature/media/                  @rocketsroger
/components/feature/privatemode/            @mozilla-mobile/act
/components/feature/prompts/                @amejia481
/components/feature/push/                   @jonalmeida @grigoryk
/components/feature/pwa/                    @mozilla-mobile/act
/components/feature/qr/                     @csadilek
/components/feature/readerview/             @csadilek
/components/feature/recentlyclosed/         @mozilla-mobile/act
/components/feature/search/                 @mozilla-mobile/act
/components/feature/session/                @csadilek
/components/feature/share/                  @mozilla-mobile/act
/components/feature/sitepermissions/        @amejia481
/components/feature/syncedtabs/             @jonalmeida
/components/feature/tab-collections/        @mozilla-mobile/act
/components/feature/tabs/                   @jonalmeida
/components/feature/toolbar/                @mozilla-mobile/act
/components/feature/top-sites/              @gabrielluong @grigoryk
/components/feature/webcompat-reporter/     @mozilla-mobile/Webcompat
/components/feature/webcompat/              @mozilla-mobile/Webcompat
/components/feature/webnotifications/       @jonalmeida @rocketsroger

/components/lib/crash/                      @rocketsroger
/components/lib/dataprotect/                @grigoryk
/components/lib/fetch-httpurlconnection/    @mozilla-mobile/act
/components/lib/fetch-okhttp/               @mozilla-mobile/act
/components/lib/jexl/                       @mozilla-mobile/act
/components/lib/publicsuffixlist/           @mozilla-mobile/act
/components/lib/push-firebase/              @jonalmeida
/components/lib/state/                      @csadilek

/components/service/digitalassetlinks/      @mozilla-mobile/act
/components/service/experiments/            @mozilla-mobile/telemetry
/components/service/firefox-accounts/       @grigoryk
/components/service/fretboard/              @mozilla-mobile/act
/components/service/glean/                  @mozilla-mobile/telemetry
/components/service/location/               @mozilla-mobile/act
/components/service/nimbus/                 @mozilla-mobile/telemetry @mozilla-mobile/ast
/components/service/pocket/                 @Mugurell
/components/service/sync-autofill/          @gabrielluong
/components/service/sync-logins/            @grigoryk

/components/support/android-test/           @amejia481
/components/support/base/                   @amejia481
/components/support/images/                 @mozilla-mobile/act
/components/support/ktx/                    @amejia481
/components/support/locale/                 @amejia481
/components/support/migration/              @grigoryk
/components/support/rusthttp/               @mozilla-mobile/ast
/components/support/rustlog/                @mozilla-mobile/ast
/components/support/sync-telemetry/         @grigoryk
/components/support/test-appservices/       @mozilla-mobile/act
/components/support/test-libstate/          @csadilek
/components/support/test/                   @amejia481
/components/support/utils/                  @mozilla-mobile/act
/components/support/webextensions/          @csadilek @amejia481

/components/tooling/detekt/
/components/tooling/fetch-tests/            @csadilek
/components/tooling/glean-gradle-plugin/    @mozilla-mobile/telemetry
/components/tooling/lint/                   @mozilla-mobile/act

/components/ui/autocomplete/                @mozilla-mobile/act
/components/ui/colors/                      @mozilla-mobile/act
/components/ui/fonts/                       @mozilla-mobile/act
/components/ui/icons/                       @mozilla-mobile/act
/components/ui/tabcounter/                  @mozilla-mobile/act
/components/ui/widgets/                     @mozilla-mobile/act

/samples/browser/                           @csadilek @amejia481
/samples/crash/                             @rocketsroger
/samples/dataprotect/                       @mozilla-mobile/act
/samples/firefox-accounts/                  @grigoryk
/samples/glean/                             @mozilla-mobile/telemetry
/samples/sync-logins/                       @grigoryk
/samples/sync/                              @grigoryk
/samples/toolbar/                           @mozilla-mobile/act

# Bot owned files
strings.xml                                 @MickeyMoz
Gecko.kt                                    @MickeyMoz
publicsuffixes                              @MickeyMoz
