Repository mozilla-mobile/android-components, changes with the owners that CODEOWNERS names for each.
All owners: @mozilla-mobile/act, @mozilla-mobile, @mozilla-mobile/releng, @pocmo, @csadilek, @amejia481, @jonalmeida, @grigoryk, @gabrielluong, @rocketsroger, @Amejia481, @espertus, @ekager, @eoger, @mozilla-mobile/Webcompat, @mozilla-mobile/telemetry, @mozilla-mobile/ast, @mcomella, @psymoon, @MickeyMoz

Closes #9075: Add mechanism to load URL when fails to launch third party app
  components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksFeature.kt
  components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksUseCases.kt
  components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksFeatureTest.kt
  components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksInterceptorTest.kt
  components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksUseCasesTest.kt
  components/feature/contextmenu/src/test/java/mozilla/components/feature/contextmenu/ContextMenuCandidateTest.kt
  config/detekt-baseline.xml
Owners: @rocketsroger, @pocmo, @mozilla-mobile/act

For #9091 - Cleanup url encoded error page of inlined code
  components/browser/errorpages/src/main/assets/errorPageScripts.js
  components/browser/errorpages/src/main/assets/error_page_js.html
  components/browser/errorpages/src/main/assets/error_style.css
  docs/changelog.md
Owners: @mozilla-mobile/act, @mozilla-mobile

Close #4819: Update Firebase Cloud Messaging version
  buildSrc/src/main/java/Dependencies.kt
  components/lib/push-firebase/src/main/java/mozilla/components/lib/push/firebase/AbstractFirebasePushService.kt
  components/lib/push-firebase/src/test/java/mozilla/components/lib/push/firebase/AbstractFirebasePushServiceTest.kt
  docs/changelog.md
Owners: @mozilla-mobile/act, @jonalmeida, @mozilla-mobile

Do not run the GV Update Action on forks
  .github/workflows/update-geckoview.yml
Owners: @mozilla-mobile/act

Update update-geckoview.yml
  .github/workflows/update-geckoview.yml
Owners: @mozilla-mobile/act

Do not run the GV Update Action on forks
  .github/workflows/update-geckoview.yml
Owners: @mozilla-mobile/act

Update update-geckoview.yml
  .github/workflows/update-geckoview.yml
Owners: @mozilla-mobile/act

Using HTTPS for search templates where possible for #8482
  components/browser/search/src/main/assets/searchplugins/ceneje.xml
  components/browser/search/src/main/assets/searchplugins/daum-kr.xml
  components/browser/search/src/main/assets/searchplugins/elebila.xml
  components/browser/search/src/main/assets/searchplugins/gulesider-mobile-NO.xml
  components/browser/search/src/main/assets/searchplugins/list-am.xml
  components/browser/search/src/main/assets/searchplugins/naver-kr.xml
Owners: @pocmo

Use proper quotes in update-geckoview.yml workflow
  .github/workflows/update-geckoview.yml
Owners: @mozilla-mobile/act

Close #4819: Update Firebase Cloud Messaging version
  buildSrc/src/main/java/Dependencies.kt
  components/lib/push-firebase/src/main/java/mozilla/components/lib/push/firebase/AbstractFirebasePushService.kt
  components/lib/push-firebase/src/test/java/mozilla/components/lib/push/firebase/AbstractFirebasePushServiceTest.kt
  docs/changelog.md
Owners: @mozilla-mobile/act, @jonalmeida, @mozilla-mobile

Update GeckoView (Beta) to 84.0.20201201213706.
  buildSrc/src/main/java/Gecko.kt
Owners: @MickeyMoz

Set version to 67.0.7.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Update to latest readability
  components/feature/readerview/src/main/assets/extensions/readerview/manifest.template.json
  components/feature/readerview/src/main/assets/extensions/readerview/readability/JSDOMParser-0.3.0.js
  components/feature/readerview/src/main/assets/extensions/readerview/readability/readability-0.3.0.js
  components/feature/readerview/src/main/assets/extensions/readerview/readability/readability-readerable-0.2.0.js
  components/feature/readerview/src/main/assets/extensions/readerview/readability/readability-readerable-0.3.0.js
  components/feature/readerview/src/main/assets/extensions/readerview/readerview.html
Owners: @csadilek

Set version to 69.0.0.
  .buildconfig.yml
Owners: @mozilla-mobile/act

Update changelog for 68.0.0 release.
  docs/changelog.md
Owners: @mozilla-mobile

Issue #9082: SearchUseCases: Pass session ID instead of Session instance.
  components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  components/feature/search/src/test/java/mozilla/components/feature/search/SearchUseCasesTest.kt
Owners: @pocmo

Issue #9082: feature-awesomebar: Remove dependency on browser-session.
  components/feature/awesomebar/build.gradle
  samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
Owners: @csadilek, @amejia481

Closes #9082: Add breaking API change in feature-search to changelog.
  docs/changelog.md
Owners: @mozilla-mobile

CODEOWNERS:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code that
# they own. Order is important; the last matching pattern takes the most
# precedence.
# A CODEOWNERS file uses a pattern that follows the same rules used in
# gitignore files. The pattern is followed by one or more GitHub usernames
# or team names using the standard @username or @org/team-name format.
# You can also refer to a user by an email address that has been added
# to their GitHub account, for example user@example.com.
# https://help.github.com/articles/about-codeowners/


# By default the Android Components team will be the owner for everything in
# the repo. Unless a later match takes precedence.
* @mozilla-mobile/act

# Changelog is reviewable by anyone on any team
/docs/changelog.md @mozilla-mobile

# Release Engineering pipeline
/.cron.yml @mozilla-mobile/releng @mozilla-mobile/act
/.taskcluster.yml @mozilla-mobile/releng @mozilla-mobile/act
/automation/ @mozilla-mobile/releng @mozilla-mobile/act
/taskcluster/ @mozilla-mobile/releng @mozilla-mobile/act

/components/browser/awesomebar/             @pocmo
/components/browser/domains/                @csadilek
/components/browser/engine-gecko-beta/      @pocmo @csadilek @amejia481
/components/browser/engine-gecko-nightly/   @pocmo @csadilek @amejia481
/components/browser/engine-gecko/           @pocmo @csadilek @amejia481
/components/browser/engine-system/          @amejia481
/components/browser/errorpages/             @mozilla-mobile/act
/components/browser/icons/                  @pocmo
/components/browser/menu/                   @mozilla-mobile/act
/components/browser/menu2/                  @jonalmeida
/components/browser/search/                 @pocmo
/components/browser/session/                @pocmo @csadilek
/components/browser/state/                  @pocmo @csadilek
/components/browser/storage-memory/         @grigoryk
/components/browser/storage-sync/           @grigoryk
/components/browser/tabstray/               @jonalmeida
/components/browser/thumbnails/             @jonalmeida @gabrielluong
/components/browser/toolbar/                @pocmo

/components/concept/awesomebar/             @pocmo @csadilek
/components/concept/base/                   @pocmo
/components/concept/engine/                 @pocmo @csadilek
/components/concept/fetch/                  @pocmo @csadilek
/components/concept/menu/                   @mozilla-mobile/act
/components/concept/push/                   @jonalmeida
/components/concept/storage/                @grigoryk
/components/concept/sync/                   @grigoryk
/components/concept/tabstray/               @jonalmeida
/components/concept/toolbar/                @pocmo

/components/feature/accounts-push/          @jonalmeida
/components/feature/accounts/               @grigoryk
/components/feature/addons/                 @csadilek @amejia481
/components/feature/app-links/              @rocketsroger
/components/feature/awesomebar/             @csadilek
/components/feature/containers/             @gabrielluong
/components/feature/contextmenu/            @pocmo
/components/feature/customtabs/             @jonalmeida
/components/feature/downloads/              @Amejia481 @csadilek
/components/feature/findinpage/             @Amejia481
/components/feature/intent/                 @mozilla-mobile/act
/components/feature/media/                  @pocmo @rocketsroger
/components/feature/p2p/                    @espertus @jonalmeida
/components/feature/privatemode/            @mozilla-mobile/act
/components/feature/prompts/                @amejia481 @ekager
/components/feature/push/                   @jonalmeida @grigoryk
/components/feature/pwa/                    @mozilla-mobile/act
/components/feature/qr/                     @csadilek
/components/feature/readerview/             @csadilek
/components/feature/recentlyclosed/         @ekager
/components/feature/search/                 @pocmo
/components/feature/session/                @pocmo @csadilek
/components/feature/share/                  @mozilla-mobile/act
/components/feature/sitepermissions/        @amejia481
/components/feature/syncedtabs/             @jonalmeida @eoger
/components/feature/tab-collections/        @pocmo
/components/feature/tabs/                   @jonalmeida
/components/feature/toolbar/                @pocmo
/components/feature/top-sites/              @gabrielluong @grigoryk
/components/feature/webcompat-reporter/     @mozilla-mobile/Webcompat
/components/feature/webcompat/              @mozilla-mobile/Webcompat
/components/feature/webnotifications/       @jonalmeida @rocketsroger

/components/lib/crash/                      @pocmo @rocketsroger
/components/lib/dataprotect/                @grigoryk
/components/lib/fetch-httpurlconnection/    @pocmo
/components/lib/fetch-okhttp/               @pocmo
/components/lib/jexl/                       @pocmo
/components/lib/nearby/                     @espertus @jonalmeida
/components/lib/publicsuffixlist/           @pocmo
/components/lib/push-amazon/                @jonalmeida
/components/lib/push-firebase/              @jonalmeida
/components/lib/state/                      @pocmo @csadilek

/components/service/digitalassetlinks/      @mozilla-mobile/act
/components/service/experiments/            @mozilla-mobile/telemetry
/components/service/firefox-accounts/       @grigoryk
/components/service/fretboard/              @pocmo
/components/service/glean/                  @mozilla-mobile/telemetry
/components/service/location/               @pocmo
/components/service/nimbus/                 @mozilla-mobile/telemetry @mozilla-mobile/ast
/components/service/pocket/                 @mcomella
/components/service/sync-logins/            @grigoryk @ekager

/components/support/android-test/           @amejia481
/components/support/base/                   @pocmo @amejia481
/components/support/images/                 @mozilla-mobile/act
/components/support/ktx/                    @amejia481
/components/support/locale/                 @amejia481
/components/support/migration/              @pocmo @grigoryk
/components/support/rusthttp/               @eoger
/components/support/rustlog/                @eoger
/components/support/sync-telemetry/         @grigoryk
/components/support/test-appservices/       @pocmo
/components/support/test-libstate/          @pocmo @csadilek
/components/support/test/                   @amejia481
/components/support/utils/                  @mozilla-mobile/act
/components/support/webextensions/          @csadilek @amejia481 @psymoon

/components/tooling/detekt/
/components/tooling/fetch-tests/            @csadilek
/components/tooling/glean-gradle-plugin/    @mozilla-mobile/telemetry
/components/tooling/lint/                   @ekager

/components/ui/autocomplete/                @mozilla-mobile/act
/components/ui/colors/                      @mozilla-mobile/act
/components/ui/fonts/                       @mozilla-mobile/act
/components/ui/icons/                       @mozilla-mobile/act
/components/ui/tabcounter/                  @mozilla-mobile/act
/components/ui/widgets/                     @mozilla-mobile/act

/samples/browser/                           @csadilek @amejia481
/samples/crash/                             @pocmo @rocketsroger
/samples/dataprotect/                       @mozilla-mobile/act
/samples/firefox-accounts/                  @grigoryk
/samples/glean/                             @mozilla-mobile/telemetry
/samples/nearby-chat/                       @jonalmeida
/samples/sync-logins/                       @ekager
/samples/sync/                              @grigoryk
/samples/toolbar/                           @pocmo

# Bot owned files
strings.xml                                 @MickeyMoz
Gecko.kt                                    @MickeyMoz
publicsuffixes                              @MickeyMoz
